@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
}

body {
    height: 100vh;
    background: linear-gradient(33deg, #5a0979, #00d4ff);
    align-items: center;
    justify-content: center;
    text-align: center;
}

header {
    position: relative;
    top: 0;
}

.header-container {
    align-items: center;
    justify-content: center;
    text-align: center;
}

main {
    position: relative;
}

a {
    text-decoration: none;
}

.logo-img {
    width: 300px;
}

.logo-img:hover {
    transform: scale(1.1);
}

.logo {
    font-family: 'Raleway', cursive;
    font-size: 25px;
    color: #fff;
    font-weight: 700;
}

.description {
    font-family: 'Arial', cursive;
    font-size: 10px;
    font-weight: bold;
    color: aquamarine;
}

.container {
    margin-top: 10px;
    gap: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.app-icons {
    background: transparent;
    border: none;
    display: inline-block;
}

.app-icons img {
    width: 150px;
}

.app-icons img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.app-icons:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.container h3 {
    color: #fff;
    font-family: 'Arial', cursive;
}
